<h1>Petfinder api</h1>
learning how to access a secured api

see <a href="https://gomakethings.com/using-oauth-with-fetch-in-vanilla-js/">gomakethings</a>

and

<a href="https://www.petfinder.com/developers/v2/docs/">petfinder</a>


