<script>
	export let data
</script>
<h1>Welcome to SvelteKit</h1>
This example is from <a href="https://scottspence.com/posts/sveltekit-data-loading-understanding-the-load-function#go-deeper-practical-examples">scottspence.com</a>

<p>Visit <a href="https://kit.svelte.dev">kit.svelte.dev</a> to read the documentation</p>

this is a test <br>

step 1. load some data from a REST API that does not require authentication
see <a href="https://apipheny.io/free-api/#apis-without-key">this list</a>


<!-- <h2>top 100 crypt currencies</h2>
<ul>
    {#each data.currenciesServer.data as coin}
    <li>{coin.name}</li>
    {/each}
</ul> -->

<pre>{JSON.stringify(data, null, 2)}</pre>


