<script lang="ts">
    export let data;
    // console.log(data);
    // console.log(JSON.stringify(data, null, 2))
</script>
<h1>movies page</h1>

<ul>
    {#each data.movielist as movie}

    <li>{movie.title}</li>
    {/each}
</ul>


<pre>{JSON.stringify(data, null, 2)}</pre>
